.fourth-content {
  background-color: white;
  padding: 20px;
  padding-bottom: 100px;
}

.fourth-content hr {
  border: 1px solid #4852691c;
}

.fourth-content .navbar-fourth-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.fourth-content .navbar-fourth-content p:first-child {
  font-size: 22px;
  font-weight: 400;
  color: #485269;
}

.fourth-content .navbar-fourth-content p:last-child {
  font-size: 13px;
  font-weight: 500;
  color: #485269cf;
}

.fourth-content .navbar-fourth-content p:last-child:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.fourth-content .main-fourth-content {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1.5fr;
}

.fourth-content .main-fourth-content img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.fourth-content .main-text {
  margin-top: -10em;
}

.fourth-content .main-fourth-content .main-text .text-content {
  font-size: 32px;
  font-weight: 500;
}

.fourth-content .main-fourth-content .main-text .text-desc {
  font-size: 15px;
  font-weight: 500;
}

.fourth-content .main-fourth-content .author {
  font-size: 13px;
  font-weight: 700;
  margin-top: 25px;
  color: #485269;
}

.fourth-content .main-fourth-content .text-list .text-content {
  font-size: 24px;
  font-weight: 500;
}

.fourth-content .main-fourth-content .text-list .text-desc {
  font-size: 14px;
}

.fourth-content .animation-line {
  margin: 10px 0;
}

.fourth-content .limit-line {
  margin: 10px 0;
}

.main-fourth-content .main-text{
  grid-column: 2;
}

@media screen and (max-width: 800px) {
  .fourth-content .main-text {
    margin-top: 0px;
  }

  .fourth-content .main-fourth-content {
    grid-template-columns: 1fr;
    /* Mengubah ke satu kolom */
    grid-auto-rows: auto;
    /* Mengatur ketinggian elemen sesuai konten */
  }

  .main-fourth-content .main-text{
    grid-column: auto;
  }

  .main-text {
    grid-row: 2;
  }

  .main-fourth-content img{
    grid-row: 1;
  }

  .main-fourth-content div:first-child{
    grid-row: 3;
  }
}